body {
    background: rgb(0,196,255);
    background: linear-gradient(90deg, rgba(0,196,255,1) 0%, rgba(154,0,186,1) 100%); 
}

.center-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 65%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

